<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ahmadali.qselectapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:label="qselect"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Required for Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- This links your default web client ID from strings.xml -->
        <meta-data
            android:name="com.google.android.gms.client_id"
            android:value="@string/default_web_client_id" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Main launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Google Sign-In OAuth2 redirect intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="com.googleusercontent.apps.199184765065-99rfj6tg5ou8h6eviccrovcp3sk49bk7"
                    android:host="oauth2redirect" />
            </intent-filter>
        </activity>
    </application>

    <!-- Optional: Handle processing of plain text from other apps -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
